<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DA MOVIEZ</a>
    <%# <form class="form-inline"> %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <%= link_to new_list_path, :style => "text-decoration: none; color: inherit;" do %>
        Create new list
        <% end %>
      </button>
    <%# </form> %>
  </div>
</div>

<div class="cards">
    <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= link_to "New list", new_list_path %>
    <%# </div> %>
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('adrian-cogua-oWrskhOkZtY-unsplash.jpg') %>');">
      <%= link_to list.name, list_path(list), :style => "text-decoration: none; color: inherit;" %>
    </div>
  <% end %>
</div>
